<form action="/new" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your NAME with anyone else.</div>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>